body {
  margin: 0; 
  padding: 0; 
  font-size: 19px; 
  background-color: #ffb3bb; 
}
#home{
  display:flex; 
  flex-direction: column;
  justify-content:center; 
  align-items:center; 
}

h1{
  font-size: 4rem;  
  margin-bottom: 30px; 
  font-family: 'Permanent Marker', cursive;
  color: #218b82; 
  margin-bottom: 5px; 
}
img {
  height: 400px; 
  border: 2px solid black;
  border-radius: 3px; 
}
#countdown {
  font-size: 2rem; 
  font-family: 'Noto Sans', sans-serif;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px #000;
  color: #fff; 
  font-weight: bold;
  margin: -60px 0 50px 0;
}

#sneakPeakButton {
    background: #000;
    width: 300px;
    font-family: 'Bungee';
    font-size: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 0; 
    margin-top: 20px;